.hero {
	color: white;
	position: relative;
	padding-top: 11rem;
	text-align: center;
	@media (--xs) {
		padding-top: 12rem;
	}
	@media (--m) {
		text-align: left;
		padding-top: 14rem;
	}
	figure {
		@mixin bg-cover;
		@mixin bg-abs;
		@mixin bg-top-center;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
		}
	}
	.container {
		max-width: none;
		padding: 0 2rem;
		@media (--xs) {
			margin: 0 auto;
			padding: 0 6rem;
			max-width: 64rem;
		}
		@media (--m) {
			padding: 0;
			display: flex;
			max-width: 88rem;
			align-items: flex-start;
			justify-content: flex-start;
		}
		@media (--xl){
			max-width: 128rem;
			justify-content: space-around;
		}
	}
	&__intro {
		h1 {
			margin-bottom: 1rem;
		}
		@media (--m) {
			padding-top: 8rem;
			max-width: 50%;
		}
		@media (--xl) {
			max-width: 50rem;
		}
	}
	&__image {
		padding-top: 2rem;
		max-width: 18rem;
		@media (--xs) {
			max-width: 22rem;
		}
		@media (--m) {
			max-width: 25rem;
			margin-left: 10rem;
		}
		@media (--xl) {
			padding: 0;
			width: 100%;
			max-width: 34rem;
			margin: 0 5rem 0 0;
		}
	}
}


