<section class="hero" data-module="hero">
	{% comment %}
	{% include 'hero' with {
		heading: section.settings.heading,
		copy: section.settings.copy,
		bgImage: section.settings.bgImage,
		fgImage: section.settings.fgImage
	} %}
	{% endcomment %}

	<figure style="background-image: url({{ section.settings.bgImage | img_url: 'master' }})"></figure>

	<div class="container">
		<div class="hero__intro">
			<h1>{{ section.settings.heading }}</h1>
			<p>{{ section.settings.copy }}</p>
		</div>
		<img class="hero__image" src="{{ section.settings.fgImage | img_url: 'master' }}" alt="">
	</div>

</section>

{% schema %}
	{
		"name": "Hero",
		"class": "hero-section",
		"settings": [
			{
				"id": "heading",
				"type": "text",
				"label": "Heading",
				"default": "Maple never tasted so good"
			},
			{
				"id": "copy",
				"type": "textarea",
				"label": "Copy",
				"default": "We blend this bourbon with natural smoked maple flavors for a unique, smoky sweetness. Full bodied, inviting maple notes that lift to smoke and are complemented with rich vanilla caramel. Smoked hickory and maple wood, with hints of earthy grains."
			},
			{
				"id": "bgImage",
				"type": "image_picker",
				"label": "Hero Background Image"
			},
			{
				"id": "fgImage",
				"type": "image_picker",
				"label": "Hero Foreground Image"
			}
		]
	}
{% endschema %}
