<!-- /templates/index.liquid -->

{{ content_for_index }}

{% include 'featured-article' %}

<section class="padded">
	<div class="container">
		{% paginate blogs['news'].articles by 10 %}
			<h2 class="align-c">Recent Articles</h2>
			<ul class="article-list">
				{% for article in blogs['news'].articles offset: 1 %}
					{% include 'article-card' with {
						article: article
					} %}
				{% endfor %}
			</ul>
		{% endpaginate %}
	</div>
</section>

{% comment %}
<div class="index container">
	<div class="img-holder">
		{% assign src = 'test.jpg' | file_img_url: '800x' %}
		{% assign retina = 'test.jpg' | file_img_url: 'master' %}
		{% capture srcset %}
			{{ 'test.jpg' | file_img_url: '480x' }} 320w, {{ 'test.jpg' | file_img_url: '1000x' }} 760w, {{ 'test.jpg' | file_img_url: '1500x' }} 1024w
		{% endcapture %}
		{% include 'image', src: src, retina: retina, srcset: srcset, seo: 'This is my image' %}
	</div>

	<div class="img-holder">
		{% assign src = 'test-3.jpg' | file_img_url: '800x' %}
		{% assign retina = 'test-3.jpg' | file_img_url: 'master' %}
		{% capture srcset %}
			{{ 'test-3.jpg' | file_img_url: '480x' }} 320w, {{ 'test-3.jpg' | file_img_url: '1000x' }} 760w, {{ 'test-3.jpg' | file_img_url: '1500x' }} 1024w
		{% endcapture %}
		{% include 'image', src: src, retina: retina, srcset: srcset, seo: 'This is my image', object_fit: 'contain' %}
	</div>

	{% include 'carousel', collection: collections.frontpage %}

	<div class="img-holder">
		{% assign src = 'test.jpg' | file_img_url: '800x' %}
		{% assign retina = 'test.jpg' | file_img_url: 'master' %}
		{% capture srcset %}
			{{ 'test.jpg' | file_img_url: '480x' }} 320w, {{ 'test.jpg' | file_img_url: '1000x' }} 760w, {{ 'test.jpg' | file_img_url: '1500x' }} 1024w
		{% endcapture %}
		{% include 'image', src: src, retina: retina, srcset: srcset, seo: 'This is my image' %}
	</div>
</div>
{% endcomment %}