{% if settings.promobar_enabled and settings.promobar_content != '' %}

	<header id="promobar" class="promobar" data-module="promobar">
		<div class="container">
			<button class="promobar__close js-promobarClose"></button>
			<div class="promobar__inner">
				<div id="promobarContent" class="promobar__content p">{{settings.promobar_content}}</div>
			</div>
		</div>
	</header>

{% endif %}
