.promobar-placeholder {
	transition: height var(--speed) var(--ease);
}
.promobar {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background-color: var(--tan);
	overflow: hidden;
	transition: transform var(--speed) var(--ease);
	transform: translateY(-100%);

	&.is-active {
		transform: translateY(0);
	}

	.container {
		max-width: 200rem;
	}
}
.promobar__inner {
	position: relative;
	padding-left: 2rem;
	padding-right: 2rem;
	text-align: center;
}
.promobar__content {
	font-size: 1.3rem;
	display: inline-block;
	position: relative;
	max-width: 750px;
	/*
	margin: 0 40px 0 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
	*/

	@media (min-width: 800px){
		text-align: center;
		margin: 0 auto;
	}
}
.promobar__close {
	position: absolute;
	top: 0; bottom: 0; right: 1.5rem;
	margin: auto;
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
	z-index: 100;

	&::before,
	&::after {
		content:'';
		display: block;
		position: absolute;
		bottom: 0; left: 0; top: 0; right: 0;
		height: 1px;
		margin: auto;
		background-color: currentColor;
	}
	&::before {
		transform: rotate(45deg);
	}
	&::after {
		transform: rotate(-45deg);
	}
}
