.article-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	/* but why does freehand limit to 6 even cards in mobile view? */
	.article-card:nth-child(n+7) {
		display: none;
		@media (--m) {
			display: inherit;
		}
	}
}

.article-card {
	position: relative;
	text-align: center;
	flex-basis: 100%;
	margin-bottom: 20px;
	background-color: var(--off-white);

	@media (--xs) {
		flex-basis: calc(50% - 10px);
	}
	
	@media (--m) {
		margin-bottom: 30px;
		flex-basis: calc(33.33% - 20px);
	}

	a {
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: column;
		&:hover {
			.article-card__content,
			.article-card__type {
				color: white;
				background-color: #1E1E1E;
			}
			.article-card__image img {
				opacity: .8;
				transform: scale(1.1);
			}
		}
	}
}

.article-card__content,
.article-card__type,
.article-card__image img {
	transition: all .25s ease-in-out;
}

.article-card__content {
	flex: 1;
	position: relative;
	padding: 25px 25px 50px;
	h4 {
		font-size: 17px;
		line-height: 1.5;
		margin: 6px 0 20px;
		@media (--m) {
			font-size: 18px;
			line-height: 1.3;
		}
		@media (--xl) {
			font-size: 24px;
		}
	}
	.link {
		left: 0;
		bottom: 30px;
		width: 100%;
		position: absolute;
	}
}

.article-card__type {
	width: 56px;
	height: 56px;
	padding: 17px;
	position: absolute;
	top: 0%;
	left: 50%;
	border-radius: 50%;
	display: inline-block;
	transform: translate(-50%, -50%);
	background-color: var(--off-white);
	svg {
		fill: var(--red-accent);
	}
}

.article-card__image {
	background: black;
	overflow: hidden;
	position: relative;
	&:after {
		content: '';
		display: block;
		padding-bottom: 90%;
	}
	img {
		width: 100%;
		height: auto;
		display: block;
		transform: translateZ(0) scale(1);

		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		object-fit: cover;
	}
}
