<div class="article-card {{ class | escape }}">
	<a href="{{ article.url }}">
		<figure class="article-card__image">
			<img src="{{ article.image.src | img_url: '407x376', crop: 'center' }}" alt="">
		</figure>
		<div class="article-card__content">
			<span class="article-card__type">
				{% comment %}
					article, recipe/glass, video & gallery.
					we can either setup 4 different type of blogs,
					or metafields,
					or tag each post with one of the above terms.
					proceeding with the latter for quick and dirty mvp.
				{% endcomment %}
				{% assign icon = 'icon ' | append: article.tags[0] | handleize %}
				{% include 'icon' with icon %}
				{% assign icon = '' %}
			</span>
			<span class="suptext">{{ article.created_at | date: "%B %d" }}</span>
			<h4>{{ article.title }}</h4>
			{% if excerpt %}
				{{ article.excerpt_or_content }}
			{% endif %}
			<span class="link">Read More</span>
		</div>
	</a>
</div>
