.featured-article {
	padding: 3rem 0;
	position: relative;
	background: var(--tan);
	@media (--xs) {
		padding-bottom: 5rem;
	}
	@media (--m) {
		padding-bottom: 7rem;
	}
	.article-card {
		background: white;
		margin: -12.5rem 0 0;
		@media (--xs) {
			margin: -24rem 0 0;
		}
		@media (--m) {
			margin: -16rem 0 0;
		}
		@media (--xl) {
			margin: -28rem 0 0;
		}
		a {
			@media (--m) {
				flex-flow: row wrap;
			}
			&:hover {
				.article-card__content,
				.article-card__type {
					color: var(--black);
					background-color: white;
				}
				.link {
					color: var(--red-darker);
				}
			}
		}
		h4 {
			margin: 0 0 1rem;
			font-size: 1.9rem;
			@media (--xs) {
				font-size: 1.8rem;
			}
			@media (--m) {
				font-size: 2.1rem;
			}
			@media (--xl) {
				font-size: 2.8rem;
				padding: 0 2rem;
			}
		}
		p {
			margin: 0 0 1.5rem;
		}
		.suptext {
			display: block;
			margin-bottom: 0.75rem;
		}
		&__image {
			@media (--xs) {
				&:after {
					padding-bottom: 60%;
				}
			}
			@media (--m) {
				flex: 50%;
				&:after {
					padding-bottom: 85%;
				}
			}
			@media (--xl) {
				&:after {
					padding-bottom: 90%;
				}
			}
		}
		&__content {
			.link {
				bottom: 0;
				position: relative; 
			}
			@media (--xs) {
				padding: 3rem 6rem 4rem;
			}
			@media (--m) {
				flex: 50%;
				align-self: center;
			}
		}
		&__type {
			left: 0;
			padding: 0;
			width: 2.4rem;
			height: 2.4rem;
			display: block;
			margin: 0 auto 1rem;
			transform: none;
			border-radius: 0;
			position: relative;
		}
	}
}