#header {
	
	position: fixed;
	left: 0;
	right: 0;
	z-index: 10;

	height: 7.3rem;
	padding: 0 2rem;
	background: var(--black);
	@media (--xs) {
		padding: 0 3rem;
	}
	@media (--xl) {
		padding: 0 4rem;
	}

	.container {
		display: flex;
		height: 100%;
		max-width: 200rem;
		justify-content: space-between;
	}
}

.box-logo {
	font-weight: 600;
	color: var(--tan);
	font-size: 1.4rem;
	align-self: center;
	padding: 0 2rem;
	line-height: 3.5rem;
	letter-spacing: .2rem;
	text-transform: uppercase;
	border: .2rem solid var(--tan);
}

/* used by header/footer */
.logo {
	width: 6rem;
	@media (--xs) {
		width: 7.3rem;
	}
	svg {
		height: 100%;
	}
}

.social-icons {
	display: flex;
	align-items: center;
	li {
		margin-left: 1rem;
		color: var(--tan);
	}
	a {
		display: block;
		color: var(--tan);
	}
	svg {
		max-width: 2.2rem;
	}
}

/* ================================================ */

/**
 * Root element
 */
.nav {
	height: var(--h-height);
	border-bottom: 1px solid #000;

	@media (--s){
		height: var(--h-height-lg);
	}
}

.nav__inner {
	height: 100%;
}

.nav__desktop {
	display:none;
	@media (--s){
		display: block;
	}
}

.nav__logo {
	width: 60px;
	@media (--s){
		width: 100px;
	}
}

/**
 * <li> within the menus
 */
.nav__item {
	&:last-child {
		margin-right: 0;
	}
	@media (--l){
		margin-right: 2em;
	}
}

/**
 * <a> tag
 */
.nav__item__link {}

/**
 * Search, cart icons
 */
.nav__icon {
	height: 2em;
	width: 2em;

	a {
		width: 20px;
		height: 20px;
	}
}

/**
 * Hamburger
 */
.nav__mobile__toggle {
	@media (--s){
		display: none;
	}

	button {
		display: block;
		position: relative;
		width: 2.5em;
		height: 2.5em;
		padding: 0;
		cursor: pointer;

		&:hover span {
			&:first-child {
				transform: translateY(-0.5em);
			}
			&:last-child {
				transform: translateY(0.5em);
			}
		}

		span {
			display: block;
			position: absolute;
			bottom: 0; left: 0; right: 0; top: 0;
			margin: auto;
			background-color: currentColor;
			color: inherit;
			height: 2px;
			border-radius: 10px;
			width: 1.5em;
			transition: transform var(--speed) var(--ease);

			.mobile-nav-is-active & {
				opacity: 0;
			}
			&:first-child,
			&:last-child {
				.mobile-nav-is-active & {
					opacity: 1
				}
			}
			&:first-child {
				transform: translateY(-0.4em);

				.mobile-nav-is-active & {
					transform: rotate(45deg);
				}
			}
			&:last-child {
				transform: translateY(0.4em);

				.mobile-nav-is-active & {
					transform: rotate(-45deg);
				}
			}
		}
	}
}
