<footer id="footer">
	<div class="container">
		<ul class="social-icons">
			<li class="suptext">Share On</li>
			<li>
				{% assign url = request.host | append: request.path %}
				<a target="new" href="https://www.facebook.com/sharer.php?u={{url}}">
					{% include 'icon' with 'icon-facebook' %}
				</a>
			</li>
			<li>
				<a target="new" href="https://twitter.com/intent/tweet?url={{url}}&text={{shop.description}}">
					{% include 'icon' with 'icon-twitter' %}
				</a>
			</li>
		</ul>
		<a href="javascript:;" class="logo">
			{% include 'icon' with 'logo' %}
		</a>
	</div>
</footer>
{% comment %}
<footer class="footer outer bg-cg1 pv1">
	<div class="container--l mha">
		<nav class="block mt1">
			<ul class="list--reset">
				{% for link in linklists.footer.links %}
					{% assign child_list_handle = link.title | handleize %}

					{% if linklists[child_list_handle].links != blank %}
						<li class="inline-block mr1 has-submenu{% if link.active %} c1{% endif %}">
							<a href="{{ link.url }}">{{ link.title }}</a>
							<ul class="submenu">
								{% for childlink in linklists[child_list_handle].links %}
									<li class="{% if childlink.active %} c1{% endif %}">
										<a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
									</li>
								{% endfor %}
							</ul>
						</li>
					{% else %}
						<li class="inline-block mr1{% if link.active %} c1{% endif %}">
							<a href="{{ link.url }}">{{ link.title }}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>
	</div>
</footer>
{% endcomment %}