#footer {
	height: 9rem;
	padding: 0 2rem;
	background: var(--black);
	@media (--xs) {
		padding: 0 3rem;
	}
	@media (--xl) {
		padding: 0 4rem;
	}
	.social-icons li {
		margin-left: 0;
		margin-right: 1rem;
	}
	.container {
		display: flex;
		height: 100%;
		max-width: 200rem;
		justify-content: space-between;
	}
}