<div class="hide">
	
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg">

		<!-- knobcreek logo -->
		<symbol id="logo" viewBox="12.342 12.657 171.999 89.517">
			<g>
				<path fill="#FDF5E3" d="M146.434,101.553V82.592h7.521v6.527l0.626-0.312l7.206-6.217h9.085l0.312,0.312l-7.205,6.217v0.621
					c1.565,1.864,8.459,11.502,8.459,11.502l-0.312,0.311h-8.771l-5.952-7.461h-0.312l-3.132,2.799v4.662H146.434z"/>
				<polygon fill="#FDF5E3" points="89.1,101.553 89.1,82.592 111.345,82.592 111.345,87.256 96.933,87.256 96.933,89.741 
					109.151,89.741 109.151,94.404 96.933,94.404 96.933,96.891 112.284,96.891 112.284,101.553 	"/>
				<polygon fill="#FDF5E3" points="117.924,101.553 117.924,82.592 140.168,82.592 140.168,87.256 125.757,87.256 125.757,89.741 
					137.975,89.741 137.975,94.404 125.757,94.404 125.757,96.891 141.107,96.891 141.107,101.553 	"/>
				<path fill="#FDF5E3" d="M44.612,94.404h8.459c0,0,0.312,3.108-2.507,5.284c-3.134,1.863-5.013,2.486-10.65,2.486
					c-5.641,0-13.784-0.934-13.784-9.945c0-9.016,8.145-10.26,13.784-10.26c5.324,0,13.157,1.556,13.157,8.082H44.3
					c0,0-0.627-3.107-4.701-3.107c-4.072,0-5.012,2.799-5.012,4.975c0,2.174,0.627,5.596,5.012,5.596
					C43.985,97.513,44.612,94.404,44.612,94.404"/>
				<path fill="#FDF5E3" d="M79.701,94.404c1.565-0.935,4.071-2.176,4.071-5.596c0-3.729-2.506-6.216-7.52-6.216H58.397v19.271h7.831
					v-7.147h4.074l0.314,0.312l4.697,6.526h8.459v-0.311l-3.76-6.218C80.014,95.026,79.701,94.715,79.701,94.404 M74.062,89.743h-7.833
					v-2.178c0,0,6.269-0.311,7.521-0.311C75.628,87.256,75.628,89.743,74.062,89.743"/>
				<polygon fill="#FDF5E3" points="12.342,13.901 22.994,13.901 22.994,32.861 23.308,34.415 30.514,13.901 40.852,13.901 
					40.852,14.523 31.453,35.659 41.792,71.713 41.792,72.336 31.453,72.336 24.562,48.713 22.994,51.511 22.994,72.336 12.342,72.336 
						"/>
				<polygon fill="#FDF5E3" points="48.998,14.211 59.65,14.211 65.916,37.523 66.229,37.523 65.916,14.211 76.255,14.211 
					76.568,72.336 66.855,72.336 59.65,47.16 59.337,47.47 59.65,72.336 48.998,72.336 	"/>
				<path fill="#FDF5E3" d="M113.537,25.401c0-7.77-6.269-12.744-13.785-12.744c-6.58,0-13.474,5.284-13.474,13.987v33.88
					c0,6.837,6.267,13.055,13.785,13.055c6.579,0,13.785-5.283,13.785-13.363C113.851,51.2,113.537,32.861,113.537,25.401
					 M100.065,63.633c-1.253,0-3.133-1.244-3.133-3.108V25.401c0-2.176,1.567-3.108,3.133-3.108c1.566,0,3.135,1.554,3.135,3.108
					v35.123C103.198,62.079,102.258,63.633,100.065,63.633"/>
				<path fill="#FDF5E3" d="M145.807,43.119c-0.626-0.312-0.626-0.622,0-0.933c0.627,0,4.387-2.487,4.387-6.528V22.604
					c0-5.285-4.071-8.703-8.771-8.703h-17.857v58.434h16.919c7.205,0,10.34-4.973,10.34-9.635V50.267
					C150.82,45.294,146.434,43.429,145.807,43.119 M134.214,23.536h3.761c1.566,0,1.88,1.554,1.88,2.487V36.28
					c0,1.554-1.565,2.176-2.507,2.176h-3.134V23.536z M140.481,60.834c0,1.244-1.254,1.865-2.192,1.865h-4.073V47.781h4.387
					c1.254,0,1.881,1.242,1.881,2.175L140.481,60.834L140.481,60.834z"/>
				<path fill="#FDF5E3" d="M173.69,86.633c0-2.797,2.507-4.973,5.326-4.973s5.325,2.176,5.325,4.973c0,3.107-2.506,5.283-5.325,5.283
					S173.69,89.741,173.69,86.633 M183.402,86.633c0-2.176-2.191-4.039-4.386-4.039c-2.507,0-4.387,1.863-4.387,4.039
					c0,2.486,1.88,4.353,4.387,4.353C181.209,90.985,183.402,89.12,183.402,86.633 M181.523,89.432h-1.254l-1.253-2.176h-0.938v2.176
					h-1.252v-5.596h2.817c0.312,0,0.938,0.311,1.565,0.311c0.312,0.311,0.627,0.934,0.627,1.555c0,0.934-0.627,1.555-1.566,1.555
					L181.523,89.432z M179.644,86.323c0.626,0,0.938,0,0.938-0.934c0-0.621-0.626-0.621-1.252-0.621h-1.254v1.555H179.644z"/>
			</g>
		</symbol>

		<!-- icon recipe -->
		<symbol id="icon-recipe" viewBox="0 0 22.3 22.3">
			<path d="M21.1,0.9c-0.1-0.1-0.3-0.2-0.4-0.2h-19c-0.2,0-0.3,0.1-0.4,0.2S1.1,1.2,1.1,1.4l1.6,17.9c0.1,1,0.9,1.8,2,1.8h13.1
				c1,0,1.9-0.8,2-1.8l1.6-17.9C21.3,1.2,21.2,1,21.1,0.9z M3.1,10.2h1v2.2c0,1.1,0.9,2,2,2h3.8c1,0,1.8-0.6,2-1.5l0.7,0.3
				c0.2,0.1,0.5,0.1,0.7,0.1c0.3,0,0.6-0.1,0.9-0.2c0.5-0.2,0.9-0.6,1.1-1.2l0.6-1.8h1.1l-0.2,3c0,0.3,0.2,0.6,0.5,0.6h0
				c0.3,0,0.6-0.2,0.6-0.5l0.3-3.2h1.2l-0.4,5.1H3.6L3.1,10.2z M15.4,8L15,9h-3.1V8.6c0-1.1-0.8-2-1.9-2l0.2-0.5
				c0.1-0.2,0.2-0.4,0.4-0.5c0.2-0.1,0.4-0.1,0.6,0l3.6,1.3c0.2,0.1,0.4,0.2,0.5,0.4C15.4,7.5,15.4,7.7,15.4,8z M11.9,10.2h2.6
				l-0.5,1.4c-0.1,0.2-0.2,0.4-0.4,0.5c-0.2,0.1-0.4,0.1-0.6,0L12,11.7L11.9,10.2L11.9,10.2z M9.9,7.8c0.5,0,0.8,0.4,0.8,0.8V9H5.2V8.6
				c0-0.5,0.4-0.8,0.8-0.8H9.9z M10.8,10.2v2.2c0,0.5-0.4,0.8-0.8,0.8H6.1c-0.5,0-0.8-0.4-0.8-0.8v-2.2H10.8z M20,1.9L19.4,9h-1.3
				l0.4-4.4c0-0.3-0.2-0.6-0.5-0.6c-0.3,0-0.6,0.2-0.6,0.5L17,9h-0.7l0.2-0.6c0.2-0.5,0.2-1.1-0.1-1.6c-0.2-0.5-0.6-0.9-1.2-1.1
				l-3.6-1.3c-0.5-0.2-1.1-0.2-1.6,0.1C9.6,4.8,9.2,5.2,9.1,5.7L8.7,6.5H6.1c-1.1,0-2,0.9-2,2v0.4H3l-0.6-7H20z M17.7,19.9h-13
				c-0.4,0-0.7-0.3-0.8-0.7l-0.2-2.7h15.1l-0.2,2.7C18.5,19.6,18.1,19.9,17.7,19.9z"/>
		</symbol>

		<!-- icon gallery -->
		<symbol id="icon-gallery" viewBox="0 0 22.3 22.3">
			<g id="Symbols">
				<g>
					<g id="GalleryICon_12_" transform="translate(-17.000000, -18.000000)">
						<g id="Group-6_12_">
							<g id="Group-5_12_" transform="translate(17.000000, 18.000000)">
								<g id="Rectangle-4_55_">
									<path class="st0" d="M20.4,10.2h-6.5c-1,0-1.8-0.8-1.8-1.8V2.9c0-1,0.8-1.8,1.8-1.8h6.5c1,0,1.8,0.8,1.8,1.8v5.5
										C22.2,9.4,21.4,10.2,20.4,10.2z M13.9,2.7c-0.1,0-0.2,0.1-0.2,0.2v5.5c0,0.1,0.1,0.2,0.2,0.2h6.5c0.1,0,0.2-0.1,0.2-0.2V2.9
										c0-0.1-0.1-0.2-0.2-0.2H13.9z"/>
								</g>
								<g id="Rectangle-4_54_">
									<path class="st0" d="M8.4,10.2H1.9c-1,0-1.8-0.8-1.8-1.8V2.9c0-1,0.8-1.8,1.8-1.8h6.5c1,0,1.8,0.8,1.8,1.8v5.5
										C10.2,9.4,9.4,10.2,8.4,10.2z M1.9,2.7c-0.1,0-0.2,0.1-0.2,0.2v5.5c0,0.1,0.1,0.2,0.2,0.2h6.5c0.1,0,0.2-0.1,0.2-0.2V2.9
										c0-0.1-0.1-0.2-0.2-0.2H1.9z"/>
								</g>
								<g id="Rectangle-4_53_">
									<path class="st0" d="M8.4,21.2H1.9c-1,0-1.8-0.8-1.8-1.8v-5.5c0-1,0.8-1.8,1.8-1.8h6.5c1,0,1.8,0.8,1.8,1.8v5.5
										C10.2,20.4,9.4,21.2,8.4,21.2z M1.9,13.7c-0.1,0-0.2,0.1-0.2,0.2v5.5c0,0.1,0.1,0.2,0.2,0.2h6.5c0.1,0,0.2-0.1,0.2-0.2v-5.5
										c0-0.1-0.1-0.2-0.2-0.2H1.9z"/>
								</g>
								<g id="Rectangle-4_52_">
									<path class="st0" d="M20.4,21.2h-6.5c-1,0-1.8-0.8-1.8-1.8v-5.5c0-1,0.8-1.8,1.8-1.8h6.5c1,0,1.8,0.8,1.8,1.8v5.5
										C22.2,20.4,21.4,21.2,20.4,21.2z M13.9,13.7c-0.1,0-0.2,0.1-0.2,0.2v5.5c0,0.1,0.1,0.2,0.2,0.2h6.5c0.1,0,0.2-0.1,0.2-0.2
										v-5.5c0-0.1-0.1-0.2-0.2-0.2H13.9z"/>
								</g>
							</g>
						</g>
					</g>
				</g>
			</g>
		</symbol>
		
		<!-- icon article -->
		<symbol id="icon-article" viewBox="0 0 22.3 22.3">
			<path d="M19.6,3.9h-1.8V3c0-1.2-1-2.3-2.3-2.3H3.3C2.1,0.7,1,1.7,1,3v15.7c0,1.6,1.3,3,3,3h14.9c1.4,0,2.5-1.1,2.5-2.5V5.7
				C21.4,4.7,20.6,3.9,19.6,3.9z M4,20.3c-0.9,0-1.6-0.7-1.6-1.6V3c0-0.5,0.4-0.9,0.9-0.9h12.2c0.5,0,0.9,0.4,0.9,0.9v16.1
				c0,0.4,0.1,0.8,0.3,1.1H4z M20,19.1c0,0.6-0.5,1.1-1.1,1.1s-1.1-0.5-1.1-1.1V5.3h1.8c0.2,0,0.5,0.2,0.5,0.5V19.1z"/>
			<path d="M4.2,11.1h5.7c0.4,0,0.7-0.3,0.7-0.7V4.6c0-0.4-0.3-0.7-0.7-0.7H4.2C3.8,4,3.5,4.3,3.5,4.6v5.7C3.5,10.8,3.9,11.1,4.2,11.1z
				 M4.9,5.3h4.3v4.4H4.9V5.3z"/>
			<path d="M14.6,15.9H4.4c-0.4,0-0.7,0.3-0.7,0.7s0.3,0.7,0.7,0.7h10.2c0.4,0,0.7-0.3,0.7-0.7S15,15.9,14.6,15.9z"/>
			<path d="M14.6,12.9H4.4c-0.4,0-0.7,0.3-0.7,0.7c0,0.4,0.3,0.7,0.7,0.7h10.2c0.4,0,0.7-0.3,0.7-0.7C15.3,13.2,15,12.9,14.6,12.9z"/>
			<path d="M14.6,6.8H12c-0.4,0-0.7,0.3-0.7,0.7c0,0.4,0.3,0.7,0.7,0.7h2.7c0.4,0,0.7-0.3,0.7-0.7C15.3,7.1,15,6.8,14.6,6.8z"/>
			<path d="M14.6,9.8H12c-0.4,0-0.7,0.3-0.7,0.7c0,0.4,0.3,0.7,0.7,0.7h2.7c0.4,0,0.7-0.3,0.7-0.7C15.3,10.1,15,9.8,14.6,9.8z"/>
			<path d="M14.6,4.1H12c-0.4,0-0.7,0.3-0.7,0.7c0,0.4,0.3,0.7,0.7,0.7h2.7c0.4,0,0.7-0.3,0.7-0.7C15.3,4.4,15,4.1,14.6,4.1z"/>
		</symbol>

		<!-- icon-video -->
		<symbol id="icon-video" viewBox="0 0 22.3 22.3">
			<g transform="translate(0,-952.36218)">
				<path d="M11.9,972.8h3.6c0.5,0,0.9-0.4,0.9-0.9v-1l4.5,1c0.5,0.1,1.1-0.3,1.2-0.9l0-7.5c-0.1-0.7-0.7-1-1.2-0.9l-4.5,1l0-1
					c0-0.5-0.4-0.9-0.9-0.9H15c0.9-0.8,1.5-2.1,1.5-3.4c0-2.6-2.1-4.7-4.7-4.7c-1.9,0-3.6,1.2-4.3,2.8c-0.7-1-1.9-1.6-3.2-1.6
					c-2.2,0-4.1,1.8-4.1,4.1c0,1.1,0.4,2.1,1.2,2.8H1.2c-0.5,0-0.9,0.5-0.9,0.9l0,9.4c0,0.5,0.4,0.9,0.9,0.9h3.7h2.3H11.9z M11.8,955.3
					c1.6,0,2.8,1.2,2.8,2.8c0,1.6-1.2,2.8-2.8,2.8S9,959.7,9,958.1C9,956.6,10.2,955.3,11.8,955.3z M4.3,956.6c1.2,0,2.2,1,2.2,2.2
					c0,1.2-1,2.2-2.2,2.2s-2.2-1-2.2-2.2C2.1,957.6,3.1,956.6,4.3,956.6z M7.9,960.7c0.2,0.3,0.5,0.6,0.7,0.9H7.2
					C7.5,961.3,7.7,961,7.9,960.7z M2.1,963.5h12.5l0,7.5H2.1L2.1,963.5z M20.2,964.6l0,5.2l-3.7-0.8l0-3.5L20.2,964.6z M7.2,972.8"/>
			</g>
		</symbol>

		<!-- icon-search -->
		<symbol viewBox="0 0 16 16"> <g id="icon-search" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd"> <path d="M15.7,13.3 L11.89,9.47 C12.59,8.49 13,7.3 13,6 C13,2.69 10.31,0 7,0 C3.69,0 1,2.69 1,6 C1,9.31 3.69,12 7,12 C8.3,12 9.48,11.59 10.47,10.89 L14.3,14.7 C14.49,14.9 14.75,15 15,15 C15.25,15 15.52,14.91 15.7,14.7 C16.09,14.31 16.09,13.68 15.7,13.29 L15.7,13.3 Z M7,10.7 C4.41,10.7 2.3,8.59 2.3,6 C2.3,3.41 4.41,1.3 7,1.3 C9.59,1.3 11.7,3.41 11.7,6 C11.7,8.59 9.59,10.7 7,10.7 L7,10.7 Z"></path> </g> </symbol>

		<!-- icon-map -->
		<symbol viewBox="0 0 7.4 11.1"> <path fill="currentColor" id="icon-map" d="M3.7,0C1.7,0,0,1.7,0,3.7C0,4.2,0.1,4.6,0.2,5l2.6,5.6c0.1,0.3,0.5,0.5,0.8,0.5s0.7-0.2,0.8-0.5L7.2,5 c0.2-0.4,0.2-0.9,0.2-1.3C7.4,1.7,5.8,0,3.7,0z M3.7,5.6c-1,0-1.9-0.8-1.9-1.9s0.8-1.9,1.9-1.9s1.9,0.8,1.9,1.9S4.7,5.6,3.7,5.6z"/> </symbol>

		<!-- icon-checkmark -->
		<symbol viewBox="0 0 11 11"> <path fill="currentColor" id="icon-checkmark" d="M10.3,2.7c-0.5-0.9-1.2-1.5-2-2C7.4,0.2,6.5,0,5.5,0S3.6,0.2,2.7,0.7s-1.5,1.2-2,2S0,4.5,0,5.5,s0.2,1.9,0.7,2.8c0.5,0.9,1.2,1.5,2,2S4.5,11,5.5,11s1.9-0.2,2.8-0.7c0.9-0.5,1.5-1.2,2-2C10.8,7.4,11,6.5,11,5.5S10.8,3.5,10.3,2.7,z M9.1,4.6L5.2,8.5C5.1,8.6,5,8.6,4.9,8.6s-0.2,0-0.3-0.1L2,5.9C1.9,5.8,1.9,5.7,1.9,5.6s0-0.2,0.1-0.3l0.7-0.7,C2.8,4.5,2.9,4.5,3,4.5s0.2,0,0.3,0.1l1.6,1.6l3-3C8,3.1,8.1,3.1,8.2,3.1s0.2,0,0.3,0.1l0.7,0.7C9.3,4,9.3,4.1,9.3,4.2,C9.2,4.4,9.2,4.5,9.1,4.6z"/> </symbol>

		<!-- icon-alert -->
		<symbol viewBox="0 0 11.133 11.133"> <path fill="currentColor" id="icon-alert" d="M5.566,0C2.493,0,0,2.493,0,5.566s2.493,5.566,5.566,5.566s5.566-2.493,5.566-5.566S8.64,0,5.566,0z M6.494,9.038c0,0.131-0.102,0.239-0.225,0.239H4.878c-0.13,0-0.239-0.108-0.239-0.239V7.661c0-0.131,0.109-0.239,0.239-0.239H6.27 c0.123,0,0.225,0.108,0.225,0.239V9.038z M6.479,6.545C6.472,6.646,6.364,6.727,6.233,6.727H4.893c-0.138,0-0.247-0.08-0.247-0.182 L4.522,2.044c0-0.051,0.022-0.102,0.073-0.131c0.043-0.036,0.109-0.058,0.174-0.058h1.595c0.065,0,0.13,0.021,0.174,0.058 C6.588,1.942,6.61,1.993,6.61,2.044L6.479,6.545z"/> </symbol>

		<!-- icon-cart -->
		<symbol viewBox="0 0 50 42.2"> <path id="icon-cart" fill="currentColor" d="M50,5.8v15.4c0,1-0.8,1.8-1.7,1.9l-31.4,3.7c0.2,0.7,0.4,1.4,0.4,2.1c0,0.7-0.4,1.3-0.7,1.9h27.6 c1.1,0,1.9,0.9,1.9,1.9c0,1.1-0.9,1.9-1.9,1.9H43c1.8,0.3,3.2,1.9,3.2,3.8c0,2.1-1.7,3.8-3.8,3.8c-2.1,0-3.8-1.7-3.8-3.8 c0-1.9,1.4-3.5,3.2-3.8H16c1.8,0.3,3.2,1.9,3.2,3.8c0,2.1-1.7,3.8-3.8,3.8c-2.1,0-3.8-1.7-3.8-3.8c0-1.9,1.4-3.5,3.2-3.8h-1.3 c-1.1,0-1.9-0.9-1.9-1.9c0-0.9,1.4-3.2,1.8-4.1L8.1,3.8H1.9C0.9,3.8,0,3,0,1.9C0,0.9,0.9,0,1.9,0h7.7c2,0,2.1,2.4,2.4,3.8h36.1 C49.1,3.8,50,4.7,50,5.8z"/> </symbol>

		<!-- icon-facebook -->
		<symbol viewBox="0 0 1792 1792"> <path id="icon-facebook" fill="currentColor" d="M1343 12v264h-157q-86 0-116 36t-30 108v189h293l-39 296h-254v759h-306v-759h-255v-296h255v-218q0-186 104-288.5t277-102.5q147 0 228 12z"/> </symbol>

		<!-- icon-twitter -->
		<symbol viewBox="0 0 1792 1792"> <path id="icon-twitter" fill="currentColor" d="M1684 408q-67 98-162 167 1 14 1 42 0 130-38 259.5t-115.5 248.5-184.5 210.5-258 146-323 54.5q-271 0-496-145 35 4 78 4 225 0 401-138-105-2-188-64.5t-114-159.5q33 5 61 5 43 0 85-11-112-23-185.5-111.5t-73.5-205.5v-4q68 38 146 41-66-44-105-115t-39-154q0-88 44-163 121 149 294.5 238.5t371.5 99.5q-8-38-8-74 0-134 94.5-228.5t228.5-94.5q140 0 236 102 109-21 205-78-37 115-142 178 93-10 186-50z"/> </symbol>

		<!-- icon-instagram -->
		<symbol viewBox="0 0 1792 1792"> <path id="icon-instagram" fill="currentColor" d="M1490 1426v-648h-135q20 63 20 131 0 126-64 232.5t-174 168.5-240 62q-197 0-337-135.5t-140-327.5q0-68 20-131h-141v648q0 26 17.5 43.5t43.5 17.5h1069q25 0 43-17.5t18-43.5zm-284-533q0-124-90.5-211.5t-218.5-87.5q-127 0-217.5 87.5t-90.5 211.5 90.5 211.5 217.5 87.5q128 0 218.5-87.5t90.5-211.5zm284-360v-165q0-28-20-48.5t-49-20.5h-174q-29 0-49 20.5t-20 48.5v165q0 29 20 49t49 20h174q29 0 49-20t20-49zm174-208v1142q0 81-58 139t-139 58h-1142q-81 0-139-58t-58-139v-1142q0-81 58-139t139-58h1142q81 0 139 58t58 139z"/> </symbol>

		<!-- icon-pinterest -->
		<symbol viewBox="0 0 1792 1792"> <path id="icon-pinterest" fill="currentColor" d="M1664 896q0 209-103 385.5t-279.5 279.5-385.5 103q-111 0-218-32 59-93 78-164 9-34 54-211 20 39 73 67.5t114 28.5q121 0 216-68.5t147-188.5 52-270q0-114-59.5-214t-172.5-163-255-63q-105 0-196 29t-154.5 77-109 110.5-67 129.5-21.5 134q0 104 40 183t117 111q30 12 38-20 2-7 8-31t8-30q6-23-11-43-51-61-51-151 0-151 104.5-259.5t273.5-108.5q151 0 235.5 82t84.5 213q0 170-68.5 289t-175.5 119q-61 0-98-43.5t-23-104.5q8-35 26.5-93.5t30-103 11.5-75.5q0-50-27-83t-77-33q-62 0-105 57t-43 142q0 73 25 122l-99 418q-17 70-13 177-206-91-333-281t-127-423q0-209 103-385.5t279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/> </symbol>

		<!-- icon-youtube -->
		<symbol viewBox="0 0 1792 1792"><path id="icon-youtube" fill="currentColor" d="M711 1128l484-250-484-253v503zm185-862q168 0 324.5 4.5t229.5 9.5l73 4q1 0 17 1.5t23 3 23.5 4.5 28.5 8 28 13 31 19.5 29 26.5q6 6 15.5 18.5t29 58.5 26.5 101q8 64 12.5 136.5t5.5 113.5v176q1 145-18 290-7 55-25 99.5t-32 61.5l-14 17q-14 15-29 26.5t-31 19-28 12.5-28.5 8-24 4.5-23 3-16.5 1.5q-251 19-627 19-207-2-359.5-6.5t-200.5-7.5l-49-4-36-4q-36-5-54.5-10t-51-21-56.5-41q-6-6-15.5-18.5t-29-58.5-26.5-101q-8-64-12.5-136.5t-5.5-113.5v-176q-1-145 18-290 7-55 25-99.5t32-61.5l14-17q14-15 29-26.5t31-19.5 28-13 28.5-8 23.5-4.5 23-3 17-1.5q251-18 627-18z"/></symbol>

		<!-- icon-x -->
		<symbol viewBox="0 0 14.7 14.7">
			<polygon fill="currentColor" id="icon-x" points="14.7,0.5 14.3,0 7.4,6.9 0.5,0 0,0.5 6.9,7.4 0,14.3 0.5,14.7 7.4,7.8 14,14.5 14.3,14.7 14.7,14.3 7.8,7.4 "/>
		</symbol>

		<!-- icon-refresh -->
		<symbol viewBox="0 0 12 12"><path id="icon-refresh" fill="currentColor" d="M11.8,7.2C11.8,7.3,11.8,7.3,11.8,7.2c-0.3,1.5-1,2.6-2.1,3.4S7.4,12,6,12c-0.8,0-1.5-0.1-2.2-0.4,s-1.3-0.7-1.9-1.2l-1,1c-0.1,0.1-0.2,0.1-0.4,0.1c-0.1,0-0.3,0-0.4-0.1C0,11.3,0,11.1,0,11V7.5c0-0.1,0-0.3,0.1-0.4,C0.2,7,0.4,7,0.5,7H4c0.1,0,0.3,0,0.4,0.1c0.1,0.1,0.1,0.2,0.1,0.4s0,0.3-0.1,0.4L3.3,8.9c0.4,0.3,0.8,0.6,1.3,0.8S5.5,10,6,10,c0.7,0,1.3-0.2,2-0.5C8.6,9.2,9,8.7,9.4,8.1C9.5,8,9.6,7.7,9.8,7.2C9.9,7.1,9.9,7,10.1,7h1.5c0.1,0,0.1,0,0.2,0.1,C11.8,7.1,11.8,7.2,11.8,7.2z M12,1v3.5c0,0.1,0,0.3-0.1,0.4C11.8,5,11.6,5,11.5,5H8C7.9,5,7.7,5,7.6,4.9C7.5,4.8,7.5,4.6,7.5,4.5,s0-0.3,0.1-0.4l1.1-1.1C8,2.4,7,2,6,2C5.3,2,4.7,2.2,4,2.5C3.4,2.8,3,3.3,2.6,3.9C2.5,4,2.4,4.3,2.2,4.8C2.1,4.9,2.1,5,1.9,5H0.4,C0.3,5,0.3,5,0.2,4.9c0,0-0.1-0.1-0.1-0.2V4.7c0.3-1.4,1-2.5,2.1-3.4C3.3,0.4,4.6,0,6,0c0.8,0,1.5,0.1,2.2,0.4s1.4,0.7,1.9,1.2l1-1,c0.1-0.1,0.2-0.1,0.4-0.1c0.1,0,0.3,0,0.4,0.1C12,0.7,12,0.9,12,1z"/></symbol>

	</svg>

</div>
