{% case icon %}

	{% when 'logo' %}
		<svg class="w1" viewBox="0 0 30 30">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo" x="0" y="0"></use>
		</svg>

	{% when 'icon-recipe' %}
		<svg class="w1" viewBox="0 0 22.3 22.3">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-recipe" x="0" y="0"></use>
		</svg>

	{% when 'icon-gallery' %}
		<svg class="w1" viewBox="0 0 22.3 22.3">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-gallery" x="0" y="0"></use>
		</svg>

	{% when 'icon-article' %}
		<svg class="w1" viewBox="0 0 22.3 22.3">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-article" x="0" y="0"></use>
		</svg>

	{% when 'icon-video' %}
		<svg class="w1" viewBox="0 0 22.3 22.3">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-video" x="0" y="0"></use>
		</svg>

	{% when 'icon-search' %}
		<svg class="w1" viewBox="0 0 16 16">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search" x="0" y="0"></use>
		</svg>

	{% when 'icon-map' %}
		<svg class="w1" viewBox="0 0 7.4 11.1">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-map" x="0" y="0"></use>
		</svg>

	{% when 'icon-checkmark' %}
		<svg class="w1" viewBox="0 0 11 11">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark" x="0" y="0"></use>
		</svg>

	{% when 'icon-alert' %}
		<svg class="w1" viewBox="0 0 11.133 11.133">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-alert" x="0" y="0"></use>
		</svg>

	{% when 'icon-cart' %}
		<svg class="w1" viewBox="0 0 50 42.2">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cart" x="0" y="0"></use>
		</svg>

	{% when 'icon-facebook' %}
		<svg class="w1" viewBox="0 0 1792 1792">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook" x="0" y="0"></use>
		</svg>

	{% when 'icon-twitter' %}
		<svg class="w1" viewBox="0 0 1792 1792">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter" x="0" y="0"></use>
		</svg>

	{% when 'icon-instagram' %}
		<svg class="w1" viewBox="0 0 1792 1792">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-instagram" x="0" y="0"></use>
		</svg>

	{% when 'icon-pinterest' %}
		<svg class="w1" viewBox="0 0 1792 1792">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pinterest" x="0" y="0"></use>
		</svg>

	{% when 'icon-youtube' %}
		<svg class="w1" viewBox="0 0 1792 1792">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-youtube" x="0" y="0"></use>
		</svg>

	{% when 'icon-x' %}
		<svg class="w1" viewBox="0 0 14.7 14.7">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x" x="0" y="0"></use>
		</svg>

	{% when 'icon-refresh' %}
		<svg class="w1" viewBox="0 0 12 12">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-refresh" x="0" y="0"></use>
		</svg>

{% endcase %}
